<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "{{ url_for('static', filename='css/base.css') }}" rel="stylesheet" />
    <title>{% block title %}{% endblock %}MAPBOX </title>
    {% endblock %}
  </head>
  <body>
    <header>
     * In a world without gold we might have been Heroes *
    </header>
    <div class="content">
      {% block content %}{% endblock %}
    </div>
    <footer>
		* Avanti Savoia *
		</footer>
</html>
