{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
	{{ super() }}
	<script type="text/javascript" src="{{ url_for('static', filename='js/change_pass.js') }}"></script>
  <link href= "{{ url_for('static', filename='css/login.css') }}" rel="stylesheet" />
  <header>
  	<a href="/logout"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_LSMB-JfAQUZb7OVcQCsgiJjy5KoFvmmfQCvfFW_WOjwFc-ng" width="30" height="30" align="right" alt="Logout"></a>
  </header>
{% endblock %}
{% block content %}

<br/>
<br/>

<div class="login">
  <form  action="/change_pass" id="myForm" align-content="center" method="POST">
    Old Password : <input type="password" name="old_password"/><br/>
    New Password : <input type="password" name="new_password"/><br/>
    Confirm Password : <input type="password" name="conf_new_password">
    <br/><br/>
	  <button type="submit" id="change_pass" style="vertical-align: middle">Change</button>
    <br/>
	<div>
	{% for i in get_flashed_messages() %}
	<p><font color="yellow" style="vertical-align: middle">{{ i }}</font></p>
	{% endfor %}
	</div> 
</div>

{% endblock %}
