{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
	{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/signup.js') }}"></script>

  <link href= "{{ url_for('static', filename='css/signup.css') }}" rel="stylesheet" />
  <header>
  	<a href="/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT89rfuHaL1DFzhtV1Ucri-E5Ameyf9ZwZFShJ0EG8-XHjQUIZm"
  	width="40" height="40" align="right" alt="Home"></a>
  </header>
{% endblock %}
{% block content %}
<br/>
<br/>


<div class="signup">
  <form  action="/signup" id="myForm" align-content="center" method="POST" >
    Username : <input type="text" name="username" id="username" /><br/>
    Password : <input type="password" name="password" id="password" /><br/>
    Confirm Password : <input type="password" name="conf_password" id="conf_password" />
    <br/><br/>	
	  <input type="submit" id="signup" style="vertical-align:middle" value="Sign up">
	 <div>
	{% for i in get_flashed_messages() %}
	<p><font color="yellow" style="vertical-align: middle">{{ i }}</font></p>
	{% endfor %}
	 </div>
</div>

{% endblock %}
